*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
  color: unset;
}

h1,
h2,
h3,
p,
small {
  margin: 0;
}

.main {
  min-height: 70vh;
  min-width: 410px;
  margin-top: 3em;
}

.open,
.exit {
  width: 3em;
  cursor: pointer;
}

.header {
  background: #3D5262;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 3em 1em;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
}

.nav--container {
  visibility: hidden;
  position: fixed;
  height: 100vh;
  background: #3D5262;
  top: 0;
  right: 0;
  width: 66%;
}

.nav--links {
  margin-top: 5em;
}

.nav--link {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
  padding: 1em 2em;
}

.nav--link:hover {
  background: #8498a7;
}

.exit {
  float: right;
  margin: 1.5em;
}

.open--nav {
  visibility: visible;
}

.foodItem--container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 0.5em 1em;
  height: 8em;
  align-items: center;
  border-bottom: 1px solid #D2D2D2;
}

.foodItem--details {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.foodItem--details small {
  color: #8B8B8B;
}

.foodItem--details>h3 {
  color: #000;
}

.foodItem--details>h3,
p {
  color: #000;
}

.add--icon {
  font-size: 4rem;
  color: #3D5262;
  cursor: pointer;
}

.image {
  font-size: 4rem;
  margin-right: 0.5em;
}

.shopping--cart {
  font-size: 4rem;
}

.cart--total--wrapper {
  margin-bottom: 1em;
}

.cart--item--container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 0.5em 1em;
  height: 8em;
  align-items: center;
  border-bottom: 1px solid #D2D2D2;
}

.cartTotal--container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 0.5em 1em;
  height: 8em;
  align-items: center;
  justify-content: space-between;
}

.complete--order-cta {
  display: block;
  color: white;
  font-size: 1.6rem;
  background-color: #16DB99;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 1.125em 0;
  margin: 0 auto;
  border-radius: 0.12em ;
}

.payment--modal--wrapper h3 {
  text-align: center;
}

.payment--modal--container  {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 3em;
 
}

.payment--modal--container input {
  font-family: inherit;
  padding: 0.5em 1em;
  font-size: 1.3rem;
  border-radius: 3.89px;
  border: 1.297px solid #757575;
}

.payment--modal--container input:focus {
  padding: 0.5em 1em;
  font-size: 1.3rem;
  border-radius: 3.89px;
  border: 1.297px solid #757575;
  color: #757575;
  outline-color: #757575;
}

.pay-button-cta {
  font-family: inherit;
  padding: 0.5em 1em;
  font-size: 1.3rem;
  border-radius: 3.89px;
  border: none;
  background-color: #16DB99;
  color: white;
  font-weight: 600;
  text-align: center;
}

.payment--modal--wrapper {
  /* display: none; */
  margin-top: 3em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.payment--modal--wrapper h3 {
  text-align: center;
  background-color: white;
  
}

.appreciation--post {
  position: absolute;
  display: flex;
  background-color: #16DB99;
  height: 50vh;
  width: 100%;
  top: 0;
  display: none;
}

.appreciation--post h1 {
  margin: auto;
  color: #083b2a;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

@media (min-width:500px) {
  .nav--container {
    visibility: unset;
    position: unset;
    height: unset;
    background: #3D5262;
    top: unset;
    right: unset;
    width: unset;
  }

  .open,
  .exit {
    display: none;
  }

  .nav--links {
    margin-top: unset;
  }

  .nav--link {
    display: inline-block;
    font-size: 1.2em;
    padding: 1em 2em;
  }
}

@media (min-width:700px) {
  .logo {
    font-size: 2em;
  }

  .nav--link {
    font-size: 1.5em;
  }

  .payment--modal--wrapper {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .image {
    font-size: 8em;
    margin-right: 0.5em;
  }

  .foodItem--container,
  .cart--item--container {
    width: 70%;
    height: 12em;
  }

  .complete--order-cta, .cartTotal--container {
    width: 40%;
    margin: unset;
  }

  .cartTotal--container {
    justify-content: unset;
  }

  .cartTotal--container h3 {
    margin-right: 5em;
    font-size: 2rem;
  }

  .foodItem--details>h3,
  p {
    font-size: 1.5rem;
  }

  .cart--total--wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10em;
  }
}